body{
    margin: 0;
    padding: 0;
    background-color: hsl(218, 28%, 13%);
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 14px;
}

h1, h3{
    font-family: 'Raleway', sans-serif;
    line-height: 1.3em;
    font-weight: bold;
}
p{
    line-height: 1.8em;
}

header{
    padding: 1em;
    display: flex;
    flex: row;
    align-items: center;
}

nav{
    margin-left: auto;
}
.link{
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 5px;
}
.link:hover{
    color: hsl(198, 60%, 50%);
    transition: .5s;
}
.link:active{
    color: hsl(198, 60%, 50%);
}

#logo{
    width: 75px;
}
.images{
    height: 42vh;
}

button{
    padding: 1.2em 5em;
    border-radius: 2em;
    width: 80%;
    border: 0;
    background-color: hsl(198, 60%, 50%);
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 11px;
    cursor: pointer;
    margin: 20px;
}

main{
    text-align: center;
    padding: 2em;
}
.features{
    margin-top: 8em;
}
.cta-text{
    padding: 10px;
    margin-top: 2.5em;
}
.left{
    text-align: left;
}
.btn{
    border-bottom: 2px solid hsl(198, 60%, 50%);
}
.btn:hover{
    word-spacing: 5px;
    transition: .5s;
}

#quotes{
    margin-top: -30px;
}
.reviews{
    margin-top: 6em;
    text-align: left;
}
.cards{
    background-color: hsl(219, 30%, 18%);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 13px;
}
.profile-pic{
    width: 50px;
    border-radius: 30px;
}
h5{
    margin-top: -10px;
    font-style: italic;
    color: rgb(214, 213, 213);
}

footer{
    background-color: hsl(216, 53%, 9%);
    padding: 30px;
    z-index: -1;
}
.footer-links{
    display: block;
    font-size: 12px;
}
.icon{
    padding: 10px;
    position: relative;
    top: 15px;
}

.arrow{
    width: 25px;
    position: relative;
    top: 7px;
}

.access{
    background-color: hsl(217, 28%, 15%);
    padding: 1em 15px;
    border-radius: 10px;
    margin-top: 4em;
    box-shadow: 1px 1px 10px rgb(19, 19, 19);
}

input{
    padding: 10px 25px;
    border-radius: 20px;
    border: 0;
    margin-top: 10px;

}

